body {
	size: 100%;
	position: relative;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/af/fa/96/affa96e61b7c2351638430b71737814e.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	width: 100%;
	height: auto;
}
#zomb1 {
	position: absolute;
	width: 200px;
	height: 312px;
	background-image: url("zomb1.png");
	animation: play 1s steps(10) infinite;
	animation-direction: ;
	transform: scaleX(-1);
}
@keyframes play {
   100% { background-position: -2000px; }
}
#zomb2 {
	position: absolute;
	width: 200px;
	height: 312px;
	background-image: url("zomb2.png");
	animation: play 1s steps(10) infinite;
	animation-direction: ;
	transform: scaleX(-1);
}
@keyframes play {
   100% { background-position: -2000px; }

}
.movePlayer1 {
	transform: translate(10px);
	background-color: pink;
}



