body {
	size: 100%;
	position: relative;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/af/fa/96/affa96e61b7c2351638430b71737814e.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	width: 100%;
	height: auto;
}
#zomb1 {
	height: 100px;
	width: 100px;
	background-color: blue;
	position: absolute;

}
#zomb2 {
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;

	

}
.movePlayer1 {
	transform: translate(10px);
	background-color: pink;
}